* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

/* This should be the "container" element */
body {
  margin: 1.5% auto 0;
  width: 100%;
  max-width: 1642px;
}

p, li {
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: 0px;
  line-height: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
  font-weight: 700;
}

header h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  border: #333333 solid 3px;
  box-shadow: 2.5px 2.5px 0 #ffffff, 5px 5px 0 #333333, 7.5px 7.5px 0 #ffffff, 10px 10px 0 #333333;
  display: block;
  width: auto;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  margin-bottom: 45px;
  font-family: 'Inter', sans-serif;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

section {
  position: relative;
  text-align: center;
  padding: 5px 0;
  margin: 0 auto 27px;
  width: 410px;
  /* Tweak for overlapping lines */
  background-color: #ffffff;
}

section .date::after {
  content: ' - ';
}

header::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #aaa;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  border-left: 1px solid #aaa;
}

section::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  height: 50%;
  width: 0px;
  background-color: #aaa;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 85%);
  -webkit-transform: translate(-50%, 85%);
  -moz-transform: translate(-50%, 85%);
  border-left: 1px solid #aaa;
}

section:last-child::after {
  display: none;
}

.short-url { display: none; }

@media screen and (max-width: 1440px) {
  body {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
  }

  h2, h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  section {
    width: auto;
  }
}
